<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns= "http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id = "second"
          class = "com.udamy.spring.Second" scope="singleton">
          <constructor-arg value="007" name="id"></constructor-arg>
          <constructor-arg value="Jarvis" name="name"></constructor-arg>
        <property name="empId" value="777"></property>
        <property name="info" ref="info"></property>

    </bean>
    <bean id = "info"
          class="com.udamy.spring.Info">
           <constructor-arg name="street" value="277th Watson"></constructor-arg>
           <constructor-arg name="postalCode" value="2110092"></constructor-arg>
    </bean>
</beans>
